{
"meats":
  ["beef","pork","chicken","bacon","duck","ribs","filet","ham","sausage",
  "salami","pepperoni","lamb","goat","veal","turkey","hot dog","steak","mutton",
  "wings","venison","goose","rabbit","frog","pheasant","burger","ribs","sirloin",
  "meatball","chorizo","pastrami","liver","bratwurst", "quail"],
"seafood":
  ["tilapia","salmon","lobster","squid","trout","tuna","crab","clams","mussels",
  "fish","crawfish","flounder","cod","anchovies","sardines","catfish","haddock",
  "scallops","oyster","calamari","halibut","eel","caviar","shrimp"],
"fish":
  ["tilapia","salmon","squid","trout","tuna",
  "fish","flounder","cod","anchovies","sardines","catfish","haddock",
  "scallops","oyster","calamari","halibut","eel","caviar"],
"meat-portions":
  ["breasts","breast","meat","sirloin","loins","loin","thighs","thigh","legs","leg","drumsticks","drumstick", "wings","wing","shoulder","belly","backstraps","backstrap","ribs","rib","chuck","round","flanks","flank"],
"dairy":
  ["milk","cream","butter","cheese","yogurt","parmesan","buttermilk"],
"main-methods":
  ["cook","boil","stew","fried","fry","braise","steam","simmer","smoke","grill","barbeque",
  "BBQ","broil","bake","roast","stir-fry","saute","sear","poach","toast","shake"],
"action-tools":
  {"cut":"knife","chop":"knife","slice":"knife","dice":"knife","mince":"knife","split":"knife",
  "boil":"pot","stew":"pot","braise":"pot","steam":"pot","al dente":"pot","simmer":"pot",
  "smoke":"grill","grill":"grill","barbeque":"grill","BBQ":"grill",
  "broil":"oven","bake":"oven","roast":"oven",
  "fry":"pan","sauté":"pan","sear":"pan","brown":"pan","poach":"pan","sear":"pan",
  "melt":"pan","air fry":"air fryer",
  "mix":"bowl","stir":"wooden spoon","can":"can opener","drain":"colander",
  "flip":"spatula","fry":"spatula","blend":"blender","whip":"whisk","toast":"toaster",
  "grate":"grater","shake":"shaker","crush":"hammer","peel":"paring knife"},
"tools-to-pot":
  {"skillet":"spatula","pan":"spatula","grill":"tongs","pot":"wooden spoon",
  "oven":"roasting pan"},
"tools":
  ["knife","pot","grill","oven","microwave","slow cooker","baking pan","pan","bowl",
  "brush","baking sheet","grill","pan","whisk","blender","paring knife","hammer",
  "shaker","grater","toaster","air fryer","skillet","roasting pan","pie tin", "cake tin"],
"vegetarian":
  ["tofu","tempeh","seitan","mushroom"],
"make-healthy":
  {"butter":"coconut butter", "honey":"maple syrup","eggs":"bananas","milk":"skim milk",
  "gelatin":"agar agar","rice":"quinoa", "oil":"coconut oil", "chips":"popcorn",
  "croutons":"almonds","flour":"coconut flower","sugar":"Stevia",
  "breadcrumbs":"chia seeds","iceberg":"romaine",
  "ranch":"olive oil and vinegar mix","mayo":"mustard","peanut butter":"almond butter",
  "soda":"tonic water","noodles":"Zoodles","pita":"carrots", "oil":"olive oil",
  "sour cream":"greek yogurt","table salt":"himalayan salt","chocolate chips":"cocoa nibs",
  "corn tortilla":"lettuce wrap"},
"spices":
  ["salt","sugar","pepper","paprika","oregano","rosemary","seasoning","vanilla extract",
  "chipotle","crushed red pepper","basil","bay leaf","bay leaves","cajun","cardamom",
  "carne asade","chili powder","cinnamon","clove","coconut extract","coriander","cumin",
  "curry","dill","italian herb","garlic","ginger","horseradish","jerk","mace","mustard powder",
  "mustard seed","nutmeg","parsley","cilantro","peppercorn","saffron","sage","scallion",
  "shallot","sesame","star anise","taco seasoning","tarragon","thyme","tumeric","vanilla bean",
  "wasabi"],
"sauces":
  ["soy sauce","teriyaki sauce","sriracha","hot sauce","barbeque sauce","salsa",
  "alfredo","vodka sauce","marinara","tomato sauce","gravy","pesto","dressing",
  "steak sauce","mayonnaise","hoisin sauce","peanut sauce","wine sauce","au jus",
  "tartar sauce","cocktail sauce","remoulade","sweet and sour"],
"replaceable-spices":
  ["paprika","oregano","rosemary","seasoning",
  "chipotle","crushed red pepper","cajun","cardamom",
  "carne asade","chili powder","clove","coriander","cumin",
  "curry","dill","italian herb","ginger","horseradish","jerk","mace","mustard powder",
  "mustard seed","peppercorn","saffron","sage","scallion",
  "shallot","sesame","star anise","taco seasoning","tarragon","tumeric",
  "wasabi"],
"cajun":
  {"noodles":["rice","beans"], "pasta":["rice","beans"],
  "beef broth":"chicken broth", "beef stock":"chicken stock",
  "lettuce":"collard greens", "spinach":"collard greens", "kale":"collard greens","cabbage":"collard greens"},
"cajun-fish":
  ["bass","catfish","white perch","yellow perch","trout","redfish","snapper"],
"cajun-spices":
  ["cajun seasoning","creole seasoning","chili powder"],
"cajun-sausage":
  ["andouille","boudin"]
}
