{
"meats":
  ["beef","pork","chicken","bacon","duck","ribs","filet","ham","sausage",
  "salami","pepperoni","lamb","goat","veal","turkey","hot dog","steak","mutton",
  "wings","venison","goose","rabbit","frog","pheasant","burger","ribs","sirloin",
  "meatball","chorizo","pastrami","liver","bratwurst"]
"seafood":
  ["shrimp","lobster","tilapia","trout","salmon","tuna","crab","clam","mussel",
  "fish","crawfish","flounder","cod","anchovy","sardine","catfish","haddock",
  "scallop","oyster","squid","calamari"]
"dairy":
  ["milk","cream","butter","cheese","yogurt"]
"main-methods":
  ["boil","stew","braise","steam","simmer","smoke","grill","barbeque","broil",
  "bake","roast","stir-fry","fry","saute","sear","poach","toast","shake"]
"action-tools":
  {"cut":"knife","chop":"knife","slice":"knife","dice":"knife","mince":"knife","split":"knife",
  "boil":"pot","stew":"pot","braise":"pot","steam":"pot","al dente":"pot","simmer":"pot",
  "smoke":"grill","grill":"grill","barbeque":"grill","BBQ":"grill",
  "broil":"oven","bake":"oven","roast":"oven",
  "fry":"pan","sauté":"pan","sear":"pan","brown":"pan","poach":"pan","sear":"pan",
  "melt":"pan",
  "mix":"bowl","stir":"wooden spoon","can":"can opener","drain":"colander",
  "flip":"spatula","fry":"spatula","blend":"blender","whip":"whisk","toast","toaster",
  "grate":"grater","shake","shaker","crush":"hammer","peel":"paring knife"}
"tools-to-pot":
  {"pan":"spatula","grill":"tongs","pot":"wooden spoon","oven":"roasting pan"}
"tools":
  ["knife","pot","grill","oven","microwave","slow cooker","baking pan","pan","bowl",
  "brush","baking sheet","grill","pan","whisk","blender","paring knife","hammer",
  "shaker","grater","toaster"]
"vegetarian":
  ["tofu","tempeh","seitan","mushroom"]
"make-healthy":
  {"butter":"almond butter","cream":"evaporated milk","milk":"skim milk","sugar":"honey",
  "oil":"olive oil"}
}
